<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>

<div class="card">
    <div class="card-body bg-dark text-light rounded-3">
        <div class="card-header rounded-3">
            <h3>Create a New Post:</h3>
        </div>
        <form class="form new-post-form">
                <label for="post-name">Post Title</label>
                <input class="form-control form-input border border-primary" type="text" id="post-name" name="post-name" placeholder="Type your title here..."/>
                <label for="post-desc">Post Content</label>
                <textarea class="form-control form-input border border-primary" id="post-desc" name="post-desc" placeholder="Type your post here..."></textarea>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary col-12">Publish Post</button>
            </div>
        </form>
    </div>

    {{#if posts.length}}
    <div class="col-6 container post-list">
        <h3>Posts:</h3>

        {{#each posts as |post|}}
        <div class="row card mb-2">
            <div class="card-body">
                <h4><a href="/posts/{{post.id}}">{{post.name}}</a></h4>
                <p>{{description}}</p>
            </div>
            <div class="card-footer">
                <p>Created by {{user.name}} on {{format_date date_created}}</p>
                <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src="./js/dashboard.js"></script>