{{#if posts.length}}
<div class="col-6 container post-list">
    <h3>Posts:</h3>

    {{#each (sort_by_date posts) as |post|}}
    <div class="row card mb-2">
        <div class="card-header">
            <h4><a href="/post/{{post.id}}">{{post.name}}</a></h4>
        </div>
        <div class="card-body">
            <p>{{description}}</p>
        </div>
        <div class="card-footer">
            <p>Created by {{user.name}} on {{format_date post.date_created}}</p>
        </div>
    </div>
    {{/each}}
    {{else}}
    <h4>There are currently no posts</h4>
</div>
{{/if}}