<div class="row col-12 card">
    <div class="card-header">
        <h2>{{name}}</h2>
    </div>
    <div class="card-body">
        <p>{{description}}</p>
    </div>
    <div class="card-footer">
        <p class="text-center">Post by {{user.name}} on {{format_date date_created}}</p>
    </div>
    {{#if logged_in}}
    <h5>Add a Comment:</h5>
    <form class="new-comment-form">
        <textarea class="form-control form-input border border-primary" name="comment" id="comment"
            placeholder="Type your comment here..."></textarea>
        <button class="btn btn-sm btn-primary col-12">Post Comment</button>
        {{/if}}
    </form>
    <div class="container">
        <div class="card row col-12 mt-5">
            {{#if comments.length}}
            <div class="card-header">
                <h2>Comments</h2>
            </div>
            {{!-- Soer_by_date will sort comments from newest to oldest --}}
            {{#each (sort_by_date comments) as |comment|}}
            <h5 class="mt-2 card-header">{{this.user.name}} replied</h5>
            <div class="card-body">
                <p>{{comment.comment}}</p>
            </div>
            <div class="card-footer bg-dark-subtle mb-3">
                <p>Posted on {{format_date date_created}}</p>

            </div>
            {{/each}}
            {{else}}
            <div class="card-header">
                <h2>Be the first to comment on this post!</h2>
            </div>
            {{/if}}
        </div>
    </div>

</div>
<script src="../js/comment.js"></script>